nav { width: 150px; margin-left: 0 !important; float: left; margin-right: 20px; }

nav li { margin: 0 0 2px; background: #000; font-size: 1.4em; }

nav li a { display: block; padding: 5px 20px; color: #f2f2f2; text-decoration: none; }

nav li a:visited { color: #f2f2f2; }

nav li a:hover { color: #09f; }

#pasta nav li.pasta a:hover,
#web nav li.web a:hover,
#print nav li.print a:hover,
#brand nav li.brand a:hover,
#mobile nav li.mobile a:hover,
#about nav li.about a:hover { color: #f2f2f2; cursor: default; }

#pasta nav li.pasta a,
#web nav li.web a,
#print nav li.print a,
#brand nav li.brand a,
#mobile nav li.mobile a,
#about nav li.about a { background: #f01346; }