.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  margin-left: 5px;
  margin-right: 5px;
}

.alpha,
.omega {
  margin-left: 0;
  margin-right: 0;
}

.align_center,
.align_right {
  text-align: left;
}

header #logo { zoom: 80%; display: block; overflow: hidden; margin:0; }

header #my-name { height: 100px;  top: -80px !important; margin-bottom: -105px; left: 140px; }
	
header #my-name h1 { font-size: 1.4em !important; }

header #my-name span { font-size: .8em !important; }

nav { width: 100% !important; float: none !important; display: block; clear: both; margin: 0 0  20px 0 !important; }

nav ul { display: block; overflow: hidden; width: 100%; padding-left: 10px !important; background: #000; }

nav ul li { display: block; overflow: hidden; float: left !important; margin: 0;  }

nav ul li a { font-size: .8em; padding: 7px 7px; }

nav:before, nav:after { content: ""; display: table; }
nav:after { clear: both; }
nav { *zoom: 1; }

div[role = "main"] { margin-left: 10px !important; }